body{
    margin: 0em 10em;
    padding: 0;
    background: pink;
  }

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: greenyellow;
    gap: 1em;
}

header,footer,main {
    height: 100vh;
    background: grey;
}

.container header, footer{
    height: 100px;
}

div {
    display: block;
    unicode-bidi: isolate;
}